:root {
  /*
  /* Override default variables here */
  /*
  --font-size-display-multiplier:   1;
  --font-size-heading-multiplier:   1;
  --font-size-body-multiplier:      1;
  --font-size-label-multiplier:     1;

  --line-height-display-multiplier: 1;
  --line-height-heading-multiplier: 1;
  --line-height-body-multiplier:    1;
  --line-height-label-multiplier:   1;

  --default-border:        var(--neutral-border-medium);

  /*
  /* Example setup for custom colors */
  /* Generate at: https://once-ui.com/customize */
  --scheme-brand-100: #000725;
  --scheme-brand-200: #001632;
  --scheme-brand-300: #004562;
  --scheme-brand-400: #006280;
  --scheme-brand-500: #00809f;
  --scheme-brand-600: #00a5c5;
  --scheme-brand-600-15: rgba(0, 165, 197, 0.15);
  --scheme-brand-600-30: rgba(0, 165, 197, 0.3);
  --scheme-brand-600-50: rgba(0, 165, 197, 0.5);
  --scheme-brand-700: #06c6e6;
  --scheme-brand-800: #4be7ff;
  --scheme-brand-900: #60f8ff;
  --scheme-brand-1000: #83ffff;
  --scheme-brand-1100: #83ffff;
  --scheme-brand-1200: #83ffff;

  --scheme-accent-100: #1e0000;
  --scheme-accent-200: #370000;
  --scheme-accent-300: #880000;
  --scheme-accent-400: #b60716;
  --scheme-accent-500: #da3b37;
  --scheme-accent-600: #ff6158;
  --scheme-accent-600-15: rgba(255, 97, 88, 0.15);
  --scheme-accent-600-30: rgba(255, 97, 88, 0.3);
  --scheme-accent-600-50: rgba(255, 97, 88, 0.5);
  --scheme-accent-700: #ff9789;
  --scheme-accent-800: #ffc6b6;
  --scheme-accent-900: #ffc6b6;
  --scheme-accent-1000: #ffc6b6;
  --scheme-accent-1100: #ffc6b6;
  --scheme-accent-1200: #ffc6b6;

  .ryu-gradient-text {
    background: linear-gradient(to right, #02c5e5 0%, #ff5f56 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .forgejo-gradient-text {
    background: linear-gradient(to right, #ff6600 0%, #cc0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  /*
  --scheme-neutral-100:  #020b10;
  --scheme-neutral-200:  #0b181d;
  --scheme-neutral-300:  #344248;
  --scheme-neutral-400:  #4f5d64;
  --scheme-neutral-500:  #68777e;
  --scheme-neutral-600:  #89989f;
  --scheme-neutral-700:  #a7b7be;
  --scheme-neutral-800:  #c7d7df;
  --scheme-neutral-900:  #d4e4ec;
  --scheme-neutral-1000: #e1f2f9;
  --scheme-neutral-1100: #e7f8ff;
  --scheme-neutral-1200: #eeffff;
  --scheme-neutral-600-10: rgba(137,152,159,0.1);
  --scheme-neutral-600-30: rgba(137,152,159,0.3);
  --scheme-neutral-600-50: rgba(137,152,159,0.5);
  */
}
